extends ../homepage

block content
  a(href='/learners/new') Ajouter un apprenant
  h1 Liste des apprenant.e.s
  ul
    each learner in learners
      li
        img(src=learner.photo)
        a(href=`/learners/${learner.id}`) #{learner.firstName} #{learner.lastName}
        a(href=`/learners/${learner.id}/edit`) E
        a(href=`/learners/${learner.id}/delete`) X
